@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

body { 
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: rgb(236, 236, 236);
}

.fade-in { 
    animation: fadeIn 0.3s ease-in-out; 
}
    @keyframes fadeIn { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }

.modal-pop { 
    animation: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}
    @keyframes popIn { from { transform: scale(0.9); opacity: 0; } to { transform: scale(1); opacity: 1; } }