@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

body { 
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: rgb(236, 236, 236);
}

.fade-in { 
    animation: fadeIn 0.5s ease-in-out; 
}
    @keyframes fadeIn { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }